/***************************
    FONTS
***************************/

header {
    font-family: 'Cuprum', sans-serif;
}
section {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
h1 {
    font-size: 30px;
}
#nav li {
    font-size: 24px;
}
h2 {
    font-family: monaco, monospace;
    font-size: 36px;
}
.code-block {
    font-family: monaco, monospace;
    font-size: 14px;
}
footer {
    font-size: 16px;
}



/***************************
    LINKS
***************************/

a, #social i {
    transition: all 0.1s ease-in-out;
}
h1 a, #nav a, #social i {
    color: inherit;
}
h1 a:hover, #social i:hover {
    color: #d1175e;
}
#nav a:hover, #nav .current {
    color: #d1175e;
    text-decoration: underline;
}
.main-content a, footer a {
    color: #d1175e;
    transition: all 0.1s ease-in-out;
}
.main-content a:hover, footer a:hover {
    text-decoration: underline;
}



/***************************
    SIZING & ALIGNMENT
***************************/

#title-background {
    height: 100px;
    background-color: #EEE;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
}
u {
    text-decoration: underline;
}
.eight-coins {
    margin: 30px 0;
    text-align: center;
}
.eight-coins i {
    margin-right: 10px;
}
section p {
    margin-bottom: 20px;
}
.code-block {
    background: #DDD;
    border-radius: 3px;
    padding: 40px;
    margin: 40px 0;
}
.code-block p{
    margin: 0;
}
footer p{
    padding-bottom: 5px;
    margin: 100px 0 0 0 ;
}
