* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

html {
    background-color: #f6f8f7;
}
body {
    padding: 5px;
    width: 95%;
    margin: 100px auto;
}
.text {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}
a {
    color: inherit;
    transition: all 0.1s ease-in-out;
}
a:visited {color: inherit;}
a:hover {
    color: #d1175e;
    text-decoration: underline;
}


#header {
    float: left;
    margin-bottom: 20px;
    width: 25%;
    text-align: right;
    position: fixed;
}

.img-circle {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px 1px #AAA;
    transition: all 0.2s ease-in-out;
}
.img-circle:hover {
    transform: scale(1.1);
    filter: saturate(5);
    box-shadow: 0 0 10px 1px #AAA;
}
h1 {
    
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}
h1:hover{
/*    font-size: 58px;*/
/*    transform: scale(1.2);*/
    color: #d1175e;
}
#nav {
    margin-bottom: 10px;
}
#nav li, #social li {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    display: block;
}
#social i {
    display: inline;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}
#social i:hover {
    transform: scale(1.2);
    color: #d1175e;
}



#content {
    width: 65%;
    margin-right: 50px;
    float: right;
}
h2 {
    margin-bottom: 30px;
}
.about-me p {
    margin-bottom: 40px;
}

.education {
    padding-top: 100px;
    margin-bottom: 40px;
}
.experience {
    margin-top: 40px;
}
.volunteer {
    margin-top: 40px;
}
.resume p {
    font-size: 18px;
}
.resume .next {
    margin-top: 20px;
}

h4{
    font-size: 20px;
    margin: 40px 0 10px 0;
}
#exp p {
    margin-bottom: 10px;
}
#exp b{
    text-decoration: underline;
}

footer {
    margin-top: 100px;
}
footer .text {
    font-size: 16px;
    padding-bottom: 5px;
}
