* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

/***************************
    INITIAL
***************************/

html {
    background-color: #f6f8f7;
}
body {
    padding: 5px;
    width: 95%;
    margin: 100px auto;
}
h1, #nav li, #social li {
    font-family: 'Cuprum', sans-serif;
}
.text {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}
a, a:visited {
    color: inherit;
}

/***************************
    LINKS
***************************/

a {
    transition: all 0.1s ease-in-out;
}
a:hover {
    color: #d1175e;
    text-decoration: underline;
}
.text a {
    color: #d1175e;
}
h1 a:hover {
    color: #d1175e;
    text-decoration: none;
}

/***************************
    HEADER
***************************/

#header {
    float: left;
    margin-bottom: 20px;
    width: 25%;
    text-align: right;
    position: fixed;
}
.img-circle {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px 1px #AAA;
    transition: all 0.2s ease-in-out;
}
.img-circle:hover {
    filter: saturate(4);
    box-shadow: 0 0 10px 1px #AAA;
}
h1 {
    font-size: 30px;
    margin: 5px 0 10px 0;
    transition: all 0.1s ease-in-out;
}

#nav {
    margin-bottom: 15px;
}
#nav li {
    margin-bottom: 4px;
}
#nav li, #social li {
    font-size: 24px;
    display: block;
}
#nav .current {
    color: #d1175e;
    text-decoration: underline;
}
#social i {
    display: inline;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}
#social i:hover {
    transform: scale(1.2);
    color: #d1175e;
}

/***************************
    CONTENT BODY
***************************/

#content {
    width: 65%;
    margin-right: 50px;
    float: right;
}
#resume p {
    font-size: 18px;
}
h2 {
    margin-bottom: 30px;
}
h4{
    font-size: 20px;
    margin: 40px 0 10px 0;
}

#about-me p {
    margin-bottom: 40px;
}

.education {
    padding-top: 100px;
    margin-bottom: 40px;
}
#edu .next {
    margin-top: 20px;
}

.experience {
    margin-top: 40px;
}
#exp p {
    margin-bottom: 10px;
}
#exp b{
    text-decoration: underline;
}
.volunteer {
    margin-top: 40px;
}


/***************************
    FOOTER
***************************/

footer {
    margin-top: 100px;
}
footer .text {
    font-size: 16px;
    padding-bottom: 5px;
}
