* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

/***************************
    INITIAL
***************************/

html {
    background-color: #f6f8f7;
}
body {
    padding: 5px;
    width: 95%;
    margin: 100px auto;
}
h1, #nav li, #social li {
    font-family: 'Cuprum', sans-serif;
}
.text {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
a, a:visited {
    color: inherit;
}

/***************************
    LINKS
***************************/

a {
    transition: all 0.1s ease-in-out;
}
.text a {
    color: #d1175e;
}
li a:hover, .text a:hover {
    color: #d1175e;
    text-decoration: underline;
}
h1 a:hover, .category h2 a:hover, #social i:hover {
    color: #d1175e;
    text-decoration: none;
}
.category a {
    color: inherit;
}

/***************************
    HEADER
***************************/

#header {
    float: left;
    margin-bottom: 20px;
    width: 25%;
    text-align: right;
    position: fixed;
}
.img-circle {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px 1px #AAA;
    transition: all 0.2s ease-in-out;
}
.img-circle:hover {
    filter: saturate(4);
    box-shadow: 0 0 10px 1px #AAA;
}
h1 {
    font-size: 30px;
    margin: 5px 0 10px 0;
    transition: all 0.1s ease-in-out;
}

#nav {
    margin-bottom: 15px;
}
#nav li {
    margin-bottom: 4px;
}
#nav li, #social li {
    font-size: 24px;
    display: block;
}
#nav .current {
    color: #d1175e;
    text-decoration: underline;
}
#social i {
    display: inline;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}

/***************************
    CONTENT BODY
***************************/

#content {
    width: 65%;
    margin-right: 50px;
    float: right;
}
h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
.category {
    margin-bottom: 60px;
}

.image {
    height: 250px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px #AAA;
    
    margin-bottom: 10px;
    
    transition: all 0.2s ease-in-out;
}
.image:hover {
    box-shadow: 5px 5px 15px 1px #AAA;
}
#sendesign {
    height: 400px;
    box-shadow: 2px 2px 5px 1px #555;
}
#sendesign:hover {
    box-shadow: 5px 5px 15px 1px #555;
}

#pyth {
    background: #ffffff url("images/python-back.png");
    background-size: cover;
}
#r {
    background: #ffffff url("images/r-back.png");
    background-size: cover;
}
#htmlcss {
    background: #ffffff url("images/html-back.png");
    background-size: cover;
}
#sendesign {
    background: #ffffff url("images/senior-design-profile.png");
    background-size: cover;
}

.linebreak {
    margin: 0 auto 60px auto;
    display: block;
    width: 40%;
    border-top: 4px solid #ccc;
}
.longtext {
    font-size: 26px;
}

    /***************************
        PROJECTS PYTHON
    ***************************/

.specific-project {
    font-size: 40px;
    margin: 0 0 30px 70px;
}
.feat-code-block {
    font-family: monaco, monospace;
    font-size: 28px;
    height: 150px;
    background-color: #EEE;
    box-shadow: 2px 2px 5px 1px #AAA;
    
    margin-bottom: 50px;
    
    display: flex;
    align-items: center;
    justify-content: left;
    
    transition: all 0.2s ease-in-out;
}
.feat-code-block:hover {
    box-shadow: 5px 5px 15px 1px #AAA;
}
.feat-code-block p {
    margin-left: 70px;
}



/***************************
    FOOTER
***************************/

footer {
    margin-top: 100px;
}
footer .text {
    font-size: 16px;
    padding-bottom: 5px;
}
