* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

/***************************
    INITIAL
***************************/

html {
    background-color: #f6f8f7;
}
body {
    padding: 5px;
    width: 95%;
    margin: 100px auto 0 auto;
}
h1, #nav li, #social li {
    font-family: 'Cuprum', sans-serif;
}
.text {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
a, a:visited {
    color: inherit;
}

/***************************
    LINKS
***************************/

a {
    transition: all 0.1s ease-in-out;
}
.text a {
    color: #d1175e;
}
li a:hover, .text a:hover {
    color: #d1175e;
    text-decoration: underline;
}
h1 a:hover, .category h2 a:hover, #social i:hover {
    color: #d1175e;
    text-decoration: none;
}
.category a {
    color: inherit;
}

/***************************
    HEADER
***************************/

#header {
    float: left;
    margin-bottom: 20px;
    width: 25%;
    text-align: right;
    position: fixed;
}
.img-circle {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px 1px #AAA;
    transition: all 0.2s ease-in-out;
}
.img-circle:hover {
    filter: saturate(4);
    box-shadow: 0 0 10px 1px #AAA;
}
h1 {
    font-size: 30px;
    margin: 5px 0 10px 0;
    transition: all 0.1s ease-in-out;
}

#nav {
    margin-bottom: 15px;
}
#nav li {
    margin-bottom: 4px;
}
#nav li, #social li {
    font-size: 24px;
    display: block;
}
#nav .current {
    color: #d1175e;
    text-decoration: underline;
}
#social i {
    display: inline;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}

/***************************
    CONTENT BODY
***************************/

#content {
    width: 65%;
    margin-right: 50px;
    float: right;
}
h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#specific-title {
    height: 100px;
    background-color: #EEE;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
}
#specific-title h2 {
    margin: 0;
    font-family: monaco, monospace;
}
u {
    text-decoration: underline;
}
.eight-coins {
    margin: 30px 0;
    text-align: center;
}
.eight-coins i {
    margin-right: 10px;
}
.text p {
    margin-bottom: 20px;
}
.code-block {
    background: #DDD;
    border-radius: 3px;
    padding: 40px;
    margin: 40px 0;
}
.code-block p{
    font-family: monaco, monospace;
    font-size: 14px;
    margin: 0;
}

/***************************
    FOOTER
***************************/

footer {
    margin-top: 100px;
}
footer .text {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
