/***************************
    INITIALIZATION AND FIRST FORMATTING
***************************/

* {
    padding: 0;
    border: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}
html {
    background-color: #f6f8f7;
}



/***************************
    FONTS
***************************/

body {
    font-family: 'Roboto Slab', serif;
    font-size: 80%;
}
header {
    font-family: 'Cuprum', sans-serif;
}
h1 {
    font-size: 3.4em;
}
#nav {
    font-size: 2.5em;
}
#social {
    font-size: 2em;
}
section p {
    font-size: 1.4em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 2.6em;
}
footer {
    font-size: 1em;
}



/***************************
    LINK COLORS
***************************/

a, #social i {
    transition: color 0.1s ease-in-out,
        text-decoration 0.1s ease-in-out,
        transform 0.5s ease-in-out;
}
h1 a, #social i, #nav a {
    color: inherit;
}
h1 a:hover, #social i:hover {
    color: #d1175e;
}
#nav a:hover {
    color: #d1175e;
    text-decoration: underline;
}
section a, footer a {
    color: #d1175e;
    transition: all 0.1s ease-in-out;
}
section a:hover, footer a:hover {
    text-decoration: underline;
}
#skills a {
    color: inherit;
}
#skills a:hover {
    color: inherit;
    text-decoration: none;
}

/* Gets rid of sticky hover on touchscreen */
@media (hover:none), (hover:on-demand) {
    h1 a:hover, #nav a:hover, #social i:hover {
        color: inherit;
        text-decoration: none;
    }
}



/***************************
    IMAGES
***************************/

#pyth {
    background: #fff url("../images/python-back2.png");
    background-size: cover;
}
#rprog {
    background: #fff url("../images/r-back2.png");
    background-size: cover;
}
#htmlcss {
    background: #fff url("../images/html-back2.png");
    background-size: cover;
}

@keyframes colors {
    0%, 100% { filter: none; }  
    25% { filter: saturate(4); }
    50% { filter: sepia(); }
    75% { filter: invert(); }
}

/***************************
    SIZING & ALIGNMENT (MOBILE FIRST)
***************************/

main {
    width: 95%;
    margin: 40px auto 0 auto;
}
header {
    margin-bottom: 60px;
}
.img-circle {
    max-width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #AAA;
    transition: all 0.2s ease-in-out;
}
.img-circle:hover {
    filter: saturate(4);
    box-shadow: 0 0 10px 1px #AAA;
}
h1 {
    text-shadow: -3px 3px 10px #AAA;
    transition: all 0.1s ease-in-out;
}
#nav li {
    display: inline;
    padding-right: 15px;
}
#social {
    margin: 10px 0 0 2px;
}
#social a {
    padding-left: 25px;
}
#social a:first-child {
    padding-left: 0;
}
.linebreak {
    margin-top: 10px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
section p {
    margin-bottom: 30px;
}
h2 {
    padding: 30px 0 20px 0;
}
#skills {
    margin-bottom: 60px;
}
.category {
    height: 120px;
    margin: 0 auto 30px auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    box-shadow: 0 0 5px 1px #AAA;

    transition: all 0.2s ease-in-out;
}
.category:hover {
    box-shadow: 0 0 30px 1px #AAA;
}
footer {
    margin-top: 80px;
    padding-bottom: 5px;
}



/***************************
    RESPONSIVE
***************************/

    /***************************
        MOBILE LANDSCAPE
    ***************************/
@media only screen and (max-width: 500px) and (orientation: landscape) {
    main {
        margin-top: 10px;
    }
    .img-circle {
        width: 15%;
    }
    h1 {
        font-size: 3em;
    }
    #nav, #social {
        font-size: 1.9em;
        display: inline-block;
    }
    #social {
        float: right;
        margin: 0 5px 0 0;
    }
    #social a {
        padding-left: 15px;
    }
}



    /***************************
        TABLET
    ***************************/
@media only screen and (max-width: 1024px) and (min-width: 501px) {
    main {
        width: 80%;
        margin-top: 40px;
    }
    body {
        font-size: 90%;
    }
    .img-circle {
        max-width: 20%;
    }
    h1 {
        text-shadow: none;
    }
    #nav, #social {
        font-size: 1.8em;
        display: inline-block;
        padding-left: 2px;
    }
    #social {
        float: right;
        margin: 0 5px 0 0;
    }
    #social a {
        padding-left: 15px;
    }
    .category:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px 1px #AAA;
    }
}



    /***************************
        LAPTOP
    ***************************/
@media only screen and (min-width: 1025px) {
    main {
        width: 60%;
        margin: 100px auto 0 auto;
    }
    body {
        font-size: 100%;
    }
    .img-circle {
        max-width: 20%;
    }
/*
    .img-circle:hover {
        animation: colors 3s ease infinite;
    }
*/
    h1 {
        text-shadow: none;
    }
    #nav, #social {
        font-size: 1.5em;
        display: inline-block;
        padding-left: 2px;
    }
    #social {
        float: right;
        margin: 0 5px 0 0;
    }
    #social a {
        padding-left: 15px;
    }
    #social i:hover {
        transform: scale(1.2) rotate(360deg);
    }
    .category:hover {
        transform: scale(1.1);
    }
}
