/***************************
    LINKS
***************************/

a, #social i {
    transition: all 0.1s ease-in-out;
}
h1 a, #nav a, #social i {
    color: inherit;
}
h1 a:hover, #social i:hover {
    color: #d1175e;
}
#nav a:hover, #nav .current {
    color: #d1175e;
    text-decoration: underline;
}
section a, footer a {
    color: #d1175e;
    transition: all 0.1s ease-in-out;
}
section a:hover, footer a:hover {
    text-decoration: underline;
}
h2 a {
    color: inherit;
}
h2 a:hover{
    color: #d1175e;
    text-decoration: none;
}



/***************************
    IMAGES
***************************/

#pyth {
    background: #ffffff url("../images/python-back.png");
    background-size: cover;
}
#r {
    background: #ffffff url("../images/r-back.png");
    background-size: cover;
}
#htmlcss {
    background: #ffffff url("../images/html-back.png");
    background-size: cover;
}
#sendesign {
    background: #ffffff url("../images/senior-design-profile.png");
    background-size: cover;
}



/***************************
    FONTS
***************************/

body {
    font-size: 80%;
}
header {
    font-family: 'Cuprum', sans-serif;
}
.main-content {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
}
h1 {
    font-size: 3em;
}
#nav li {
    font-size: 2.5em;
}
#social {
    font-size: 2em;
}
h2 {
    font-size: 2.25em;
}
.longtext {
    font-size: 1.5em;
}
footer {
    font-size: 1em;
}




/***************************
    SIZING & ALIGNMENT
***************************/

h2 {
    margin-bottom: 10px;
}
.category {
    margin-bottom: 60px;
}
.image {
    height: 120px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px #AAA;
    
    margin-bottom: 10px;
    
    transition: all 0.2s ease-in-out;
}
.image:hover {
    box-shadow: 5px 5px 15px 1px #AAA;
}
#sendesign {
    box-shadow: 2px 2px 5px 1px #555;
}
#sendesign:hover {
    box-shadow: 5px 5px 15px 1px #555;
}
.content-linebreak {
    margin: 0 auto 60px auto;
    display: block;
    width: 40%;
    border-top: 4px solid #ccc;
}
.longtext {
    padding-top: 5px;
}
footer p {
    margin: 100px 0 0 0;
    padding-bottom: 5px;
}



/***************************
    RESPONSIVE
***************************/

    /***************************
        MOBILE LANDSCAPE
    ***************************/
@media only screen and (max-width: 500px) and (orientation: landscape) {
    h1 {
        font-size: 3em;
    }
    #nav li {
        font-size: 2em;
    }
}



    /***************************
        TABLET
    ***************************/
@media only screen and (max-width: 850px) and (min-width: 501px) {
    body {
        font-size: 90%;
    }
    h1 {
        font-size: 3em;
    }
    #nav li {
        font-size: 2em;
    }
    #social {
        font-size: 1.9em;
    }
    
    .image {
        height: 250px;
    }

}



    /***************************
       LAPTOP
    ***************************/
@media only screen and (min-width: 851px) {
    
    body {
        font-size: 100%;
    }
    h1 {
        font-size: 2.3em;
    }
    #nav li {
        font-size: 1.7em;
    }
    #social {
        font-size: 1.5em;
    }
    
    .image {
        height: 250px;
    }
    .image:hover {
        transform: translate(-5px, -5px);
    }
    #sendesign {
        height: 400px;
    }
}

