/***************************
    FONTS
***************************/

h2 {
    font-size: 2.5em;
}
.feat-code-block p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.625em;
}



/***************************
    LINKS
***************************/

.blocklink {
    color: inherit;
    transition: all 0.1s ease-in-out;
}
.blocklink:hover {
    color: #d1175e;
    text-decoration: none;
}



/***************************
    SIZING & ALIGNMENT
***************************/

h2 {
    margin: -30px 0 30px 0;
}
.feat-code-block {
    height: 120px;
    background-color: #EEE;
    box-shadow: 2px 2px 5px 1px #AAA;
    
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    
    transition: all 0.2s ease-in-out;
}
.feat-code-block:hover {
    box-shadow: 5px 5px 15px 1px #AAA;
}
.feat-code-block p {
    margin-left: 20px;
}



    /***************************
        TABLET
    ***************************/
@media only screen and (max-width: 1024px) and (min-width: 501px) {
    .feat-code-block {
        height: 150px;
        margin-bottom: 50px;
    }
    .feat-code-block p {
        margin-left: 70px;
    }
}



    /***************************
       LAPTOP
    ***************************/
@media only screen and (min-width: 1025px) {
    .feat-code-block:hover {
        transform: translate(-5px, -5px);
    }
    h2 {
        margin: 0 0 30px 70px;
    }
    .feat-code-block {
        height: 150px;
        margin-bottom: 50px;
    }
    .feat-code-block p {
        margin-left: 70px;
    }
}